<app-header></app-header>
<!--<app-login></app-login>-->
<h3>-----Pipes-----</h3>
<h4>{{ name | titlecase }}</h4>
<h4>{{ str | slice:3:10 }}</h4>
<h4>{{ dob | date:'fullDate' | uppercase }}</h4>
<h3>-----Call service-----</h3>
<!--<button (click)="callService()">Call service</button>-->
<h3>-----API service-----</h3>
<ul>
  <li *ngFor="let item of data">{{ item.title }}</li>
</ul>
<h1>-----Angular routing-----</h1>
<a routerLink="/">Go to Home</a><br />
<a routerLink="login">Go to Login</a><br />
<a routerLink="user">Go to User</a><br />
<a routerLink="detail">Go to User Detail</a>
<br /><br />
<router-outlet></router-outlet>
<br /><br />
<app-footer></app-footer>
