<app-header></app-header>
<h1>Make custom Directive in Angular</h1>
<h2>Normal Head 2 text</h2>
<h2 appCustomStyle>Custom Head 2 text</h2>
<h1>Bootstrap</h1>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too good.
  </ngb-alert>
</p>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left"> Left (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.middle"> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.right"> Right
  </label>
</div>
<hr>
<pre>{{model | json}}</pre>

<h1>Pass data from parent to child component</h1>
<app-user [hero]="hero" (callParentFunction)="parentFunction($event)">

</app-user>

<h1 [style.color]="color">Styling in angular</h1>
<button (click)="onChangeColor()">change color</button>
<h1 [style.color]="error?'red':'green'">Error example</h1>
<button (click)="onChangeError()">change error</button>
<h1>Module in angular</h1>
<b>{{title}}</b>
<button (click)="testFunc('hello')">click me</button>
<input type="text" (keyup)="getVal($event)" #txt/>
<button (click)="getTextBox(txt)">get value</button>
<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'" style="color: red;">red color</h2>
  <h2 *ngSwitchCase="'green'" style="color: green;">green color</h2>
  <h2 *ngSwitchCase="'yellow'" style="color: yellow;">yellow color</h2>
  <h2 *ngSwitchCase="'blue'" style="color: blue;">blue color</h2>
  <h2 *ngSwitchDefault>Default case</h2>
</div>
<div *ngFor="let item of fruits">
  {{item}}
</div>
<!--template driven form-->
<br><br>
Form here: template driven form
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <input type="text" name="email" ngModel /><br><br>
  <input type="text" name="address" ngModel /><br><br>
  <input type="text" name="contact" ngModel /><br><br>
  <button type="submit">
    submit data
  </button>
</form>
<app-login></app-login>
<app-footer></app-footer>
<router-outlet></router-outlet>
