<h1>Module in angular</h1>
<b>{{title}}</b>
<button (click)="testFunc('hello')">click me</button>
<input type="text" (keyup)="getVal($event)" #txt/>
<button (click)="getTextBox(txt)">get value</button>
<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'" style="color: red;">red color</h2>
  <h2 *ngSwitchCase="'green'" style="color: green;">green color</h2>
  <h2 *ngSwitchCase="'yellow'" style="color: yellow;">yellow color</h2>
  <h2 *ngSwitchDefault>Default case</h2>
</div>
<div *ngFor="let item of fruits">
  {{item}}
</div>
<!--template driven form-->
<br><br>
Form here: template driven form
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <input type="text" name="email" ngModel /><br><br>
  <input type="text" name="address" ngModel /><br><br>
  <input type="text" name="contact" ngModel /><br><br>
  <button type="submit">
    submit data
  </button>
</form>
<app-login></app-login>
<router-outlet></router-outlet>
