form.userFormValidatable input.ng-invalid {
  border-right: 5px solid red;
}

form.userFormValidatable input.ng-valid {
  border-right: 5px solid green;
}

form.userFormValidatable .error {
  color: red;
}
