<h3>Home component</h3>
<br />
<h3>-----Make custom Directive in Angular-----</h3>
<h4>Normal Head 2 text</h4>
<h4 appCustomStyle>Custom Head 2 text</h4>
<br />
<h3>-----Bootstrap-----</h3>
<p>
  <ngb-alert [dismissible]="false">
    <strong>Warning!</strong> Better check yourself, you're not looking too
    good.
  </ngb-alert>
</p>

<div class="btn-group btn-group-toggle">
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.left" /> Left
    (pre-checked)
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.middle" /> Middle
  </label>
  <label class="btn-primary" ngbButtonLabel>
    <input type="checkbox" ngbButton [(ngModel)]="model.right" /> Right
  </label>
</div>
<hr />
<pre>{{ model | json }}</pre>
<br />
<h3>-----Pass data from parent to child component-----</h3>
<app-user [hero]="hero" (callParentFunction)="parentFunction($event)">
</app-user>

<br /><br />
<h3 [style.color]="color">-----Styling in angular-----</h3>
<button (click)="onChangeColor()">change color</button>
<h4 [style.color]="error ? 'red' : 'green'">Error example</h4>
<button (click)="onChangeError()">change error</button>
<br /><br />
<h3>-----Module in angular-----</h3>
<b>{{ title }}</b>
<button (click)="showAlert('hello')">Click me to show Alert</button>
<input type="text" (keyup)="getVal($event)" #txt />
<button (click)="getTextBoxValue(txt)">Get value of the text box and show it in alert</button>
<br /><br />
<h3>-----ngSwitch, ngFor-----</h3>
<div [ngSwitch]="color">
  <h2 *ngSwitchCase="'red'" style="color: red">red color</h2>
  <h2 *ngSwitchCase="'green'" style="color: green">green color</h2>
  <h2 *ngSwitchCase="'yellow'" style="color: yellow">yellow color</h2>
  <h2 *ngSwitchCase="'blue'" style="color: blue">blue color</h2>
  <h2 *ngSwitchDefault>Default case</h2>
</div>
<div *ngFor="let item of fruits">
  {{ item }}
</div>

<br />
<h3>-----Template driven form-----</h3>
<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm.value)">
  <input type="text" name="email" ngModel /><br /><br />
  <input type="password" name="password" ngModel /><br /><br />
  <button type="submit">login</button>
</form>
<br />
<h3>-----Bootstrap form-----</h3>
<div class="col-sm-6">
  <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>

<br />
